extends layout 

block content
  form(action='/register' method='POST')
    field
      p(class="text") Name
      input(id="name" name='name' type='text')
    
    field
      p(class="text") Email
      input(id="email" name='email' type='email')
    
    field
      p(class="text") Password
      input(id="password" name='password' type='password')
    
    div(class="btn-container")
      input(type="submit" value="Register" class="btn-submit") 
